{
  "basic_auth_user": "<replace with consumer-key from the app you created>",
  "basic_auth_pass": "<replace with consumer-secret from the app you created>",
  "user_name": "sandbox-id", // by default in sandbox
  "password": "sandbox-key" // by default in sandbox
  "lau_app_id": "001",
  "lau_version": "1.0",
  "lau_hmac_key": "<replace with `lauKey` from postman collection variables>",
  "app_api_key": "<replace with `LAUSigned` value from https://developer.swift.com/reference#operation/VerifyAccount>",
  "xbic": "<replace with `LAUSigned` value from https://developer.swift.com/reference#operation/VerifyAccount>",
  "x_api_key": "<replace with consumer-key from the app you created>"
  "real_bic": "<enter_any_real_bic_identifier>",
}
