openapi: 3.0.0
info:
  title: SWIFT Banking Analytics
  description: "SWIFT Watch Banking Analytics API enables institutions to retrieve\
    \ their  own SWIFT traffic data and the SWIFT totals, extending to the level of\
    \ value and currency per market. \n\n**v1.0.11 Release Notes**\n\n * The Test\
    \ Environment url updated to https://api-pilot.swift.com/bi/banking-analytics/v1\n\
    \ * PaginationLinks Object is defined as optional, as well as property next. \n\
    \ * Response examples were udpated to align with the API contract. \n * Example\
    \ for Market parameter in the request fixed"
  contact:
    name: Standards & Developer Hub
    url: https://developer.swift.com
    email: developer-support@swift.com
  license:
    name: API Restricted License
    url: https://www.swift.com/file/56776/download?token=8w8DC4eF
  version: 1.0.11
servers:
- url: https://api.swift.com/bi/banking-analytics/v1
  description: Production Environment
- url: https://api-pilot.swift.com/bi/banking-analytics/v1
  description: Test Environment
- url: https://sandbox.swift.com/bi/banking-analytics/v1
  description: Sandbox Environment
security:
- oauthPassword:
  - read
  - write
tags:
- name: Banking Analytics
  description: "This API returns data of total messages sent and received per market\
    \ (payments, trade and treasury) and reporting period.\n"
paths:
  /value-and-currency:
    get:
      tags:
      - Banking Analytics
      summary: Banking Data.
      description: "Returns an array of banking data filtered on market and reporting\
        \ period. Each item in the array is defined by its unique combination of the\
        \ following properties - market, reporting_period, message_definition_identifier,\
        \ my_institution, counterparty and currency."
      operationId: bankingAnalytics
      parameters:
      - name: market
        in: query
        description: Specifies the market to which the banking data belongs.
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Market1Code'
        examples:
          PMTS_payments:
            value: PMTS_payments
          TRFN_trade_finance:
            value: TRFN_trade_finance
          TREA_treasury:
            value: TREA_treasury
      - name: reporting_period
        in: query
        description: specifies the month the reported data covers.
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/ISOYearMonth'
        examples:
          "2019-07":
            value: 2019-07
          "2019-01":
            value: 2019-01
          "2018-08":
            value: 2018-08
      - name: limit
        in: query
        description: Limits the maximum number of results to be displayed on a page
          with a minimum of 25 (putting less defaults to 25) and a maximum of 1000
          (putting more defaults to 1000).
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Limit1'
        examples:
          "25":
            value: "25"
          "50":
            value: "50"
          "500":
            value: "500"
          "1000":
            value: "1000"
      - name: offset
        in: query
        description: Specifies the number of items from which to start returning results.
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Offset1'
        examples:
          "0":
            value: "0"
          "25":
            value: "25"
          "500":
            value: "500"
          "1000":
            value: "1000"
      responses:
        "200":
          description: Response for a 200 status code
          headers:
            X-Response-Timestamp:
              description: Timestamp at which the operation was processed.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
            X-Request-ID:
              description: UUID that was passed to the request in the X-Request-ID
                header.
              style: simple
              explode: false
              schema:
                $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
              examples:
                PMTS_2019-07_25_0:
                  $ref: '#/components/examples/PMTS_2019-07_25_0'
                TRFN_2019-07_25_25:
                  $ref: '#/components/examples/TRFN_2019-07_25_25'
                TREA_2019-07_50_25:
                  $ref: '#/components/examples/TREA_2019-07_50_25'
                PMTS_2019-01_25_25:
                  $ref: '#/components/examples/PMTS_2019-01_25_25'
                TRFN_2019-01_50_25:
                  $ref: '#/components/examples/TRFN_2019-01_50_25'
                TREA_2019-01_25_0:
                  $ref: '#/components/examples/TREA_2019-01_25_0'
                PMTS_2018-08_50_25:
                  $ref: '#/components/examples/PMTS_2018-08_50_25'
                TRFN_2018-08_25_0:
                  $ref: '#/components/examples/TRFN_2018-08_25_0'
                TREA_2018-08_25_25:
                  $ref: '#/components/examples/TREA_2018-08_25_25'
        "303":
          description: See Other
          headers:
            X-Response-Timestamp:
              description: Timestamp at which the operation was processed.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
            X-Request-ID:
              description: UUID that was passed to the request in the X-Request-ID
                header.
              style: simple
              explode: false
              schema:
                $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
            Location:
              description: Specifies a redirection URI because the original request
                cannot be handled by the server.
              style: simple
              explode: false
              schema:
                $ref: '#/components/schemas/Max256Text'
        "400":
          description: Bad request
          headers:
            X-Response-Timestamp:
              description: Timestamp at which the operation was processed.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
            X-Request-ID:
              description: UUID that was passed to the request in the X-Request-ID
                header.
              style: simple
              explode: false
              schema:
                $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericStatus1'
              examples:
                missingParameter:
                  $ref: '#/components/examples/missingParameter'
                parameterInvalid:
                  $ref: '#/components/examples/parameterInvalid'
                bodyIsNotWellFormed:
                  $ref: '#/components/examples/bodyIsNotWellFormed'
                headerNotIncluded:
                  $ref: '#/components/examples/headerNotIncluded'
                xbicHeaderNotValid:
                  $ref: '#/components/examples/xbicHeaderNotValid'
        "401":
          description: Unauthorized
          headers:
            X-Response-Timestamp:
              description: Timestamp at which the operation was processed.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
            X-Request-ID:
              description: UUID that was passed to the request in the X-Request-ID
                header.
              style: simple
              explode: false
              schema:
                $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericStatus1'
              examples:
                invalidOAuthToken:
                  $ref: '#/components/examples/invalidOAuthToken'
                OAuthTokenHasInsufficentScopeForRequestedService:
                  $ref: '#/components/examples/OAuthTokenHasInsufficentScopeForRequestedService'
                OAuthTokenNotProvided:
                  $ref: '#/components/examples/OAuthTokenNotProvided'
        "403":
          description: Forbidden
          headers:
            X-Response-Timestamp:
              description: Timestamp at which the operation was processed.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
            X-Request-ID:
              description: UUID that was passed to the request in the X-Request-ID
                header.
              style: simple
              explode: false
              schema:
                $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericStatus1'
              examples:
                invalidContract:
                  $ref: '#/components/examples/invalidContract'
        "404":
          description: Not Found
          headers:
            X-Response-Timestamp:
              description: Timestamp at which the operation was processed.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
            X-Request-ID:
              description: UUID that was passed to the request in the X-Request-ID
                header.
              style: simple
              explode: false
              schema:
                $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericStatus1'
              examples:
                notFound:
                  $ref: '#/components/examples/notFound'
        "406":
          description: Server cannot produce a response matching the list of media
            types accepted by the client
          headers:
            X-Response-Timestamp:
              description: Timestamp at which the operation was processed.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
            X-Request-ID:
              description: UUID that was passed to the request in the X-Request-ID
                header.
              style: simple
              explode: false
              schema:
                $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericStatus1'
              examples:
                noAcceptableReturnType:
                  $ref: '#/components/examples/noAcceptableReturnType'
        "429":
          description: Too Many Requests
          headers:
            X-Response-Timestamp:
              description: Timestamp at which the operation was processed.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
            X-Request-ID:
              description: UUID that was passed to the request in the X-Request-ID
                header.
              style: simple
              explode: false
              schema:
                $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericStatus1'
              examples:
                tooManyRequest:
                  $ref: '#/components/examples/tooManyRequest'
        "500":
          description: Internal server error
          headers:
            X-Response-Timestamp:
              description: Timestamp at which the operation was processed.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
            X-Request-ID:
              description: UUID that was passed to the request in the X-Request-ID
                header.
              style: simple
              explode: false
              schema:
                $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericStatus1'
              examples:
                internalServerError:
                  $ref: '#/components/examples/internalServerError'
        "502":
          description: Bad Gateway
          headers:
            X-Response-Timestamp:
              description: Timestamp at which the operation was processed.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
            X-Request-ID:
              description: UUID that was passed to the request in the X-Request-ID
                header.
              style: simple
              explode: false
              schema:
                $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericStatus1'
              examples:
                badGateway:
                  $ref: '#/components/examples/badGateway'
        "503":
          description: Service Unavailable
          headers:
            X-Response-Timestamp:
              description: Timestamp at which the operation was processed.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
            X-Request-ID:
              description: UUID that was passed to the request in the X-Request-ID
                header.
              style: simple
              explode: false
              schema:
                $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericStatus1'
              examples:
                unavailable:
                  $ref: '#/components/examples/unavailable'
        "504":
          description: Gateway timeout
          headers:
            X-Response-Timestamp:
              description: Timestamp at which the operation was processed.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
            X-Request-ID:
              description: UUID that was passed to the request in the X-Request-ID
                header.
              style: simple
              explode: false
              schema:
                $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericStatus1'
              examples:
                timeOut:
                  $ref: '#/components/examples/timeOut'
        default:
          description: Unexpected Error
          headers:
            X-Response-Timestamp:
              description: Timestamp at which the operation was processed.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
            X-Request-ID:
              description: UUID that was passed to the request in the X-Request-ID
                header.
              style: simple
              explode: false
              schema:
                $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericStatus1'
              examples:
                unexpectedError:
                  $ref: '#/components/examples/unexpectedError'
components:
  schemas:
    Max256Text:
      type: string
      description: Specifies a character string with a maximum length of 256 characters.
    UUIDv4RestrictedExact32TextIdentifier:
      pattern: "^[a-f0-9]{8}[a-f0-9]{4}4[a-f0-9]{3}[89ab][a-f0-9]{3}[a-f0-9]{12}$"
      type: string
      description: "Universally Unique IDentifier (UUID) version 4, as described in\
        \ IETC RFC 4122 \"Universally Unique IDentifier (UUID) URN Namespace\" without\
        \ 4 hyphen separators.\r\nFor example: '00000000000040008000000000000000'\
        \ instead of  '00000000-0000-4000-8000-000000000000' (without quotes)"
    GenericStatus1:
      required:
      - code
      - severity
      - text
      type: object
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode1'
        severity:
          $ref: '#/components/schemas/ErrorSeverity3Code'
        text:
          $ref: '#/components/schemas/Max256Text'
        user_message:
          $ref: '#/components/schemas/Max256Text'
        more_info:
          $ref: '#/components/schemas/Max256Text'
      additionalProperties: false
      description: Specifies the generic status as a result of a method applied to
        a Resource.
    ErrorCode1:
      pattern: "^(SwAP\\d{3,3})|(BI_\\d{3,3})$"
      type: string
      description: A string representing the code of an error
    ErrorSeverity3Code:
      type: string
      description: A enum describing the severity of an error
      enum:
      - Fatal
      - Logic
      - Transient
    ActiveCurrencyCode:
      pattern: "^[A-Z]{3,3}$"
      type: string
      description: '> A code allocated to a currency by a Maintenance Agency under
        an international identification scheme as described in the latest edition
        of the international standard ISO 4217 "Codes for the representation of currencies
        and funds".'
    AnyBICDec2014Identifier:
      pattern: "^[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}$"
      type: string
      description: "Code allocated to a financial or non-financial institution by\
        \ the ISO 9362 Registration Authority, as described in ISO 9362: 2014 - \"\
        Banking - Banking telecommunication messages - Business identifier code (BIC)\"\
        ."
    BankingData1:
      required:
      - counterparty
      - currency
      - customer_route
      - delivery_status
      - geo_route
      - market
      - message_definition_identifier
      - my_institution
      - reporting_period
      type: object
      properties:
        market:
          $ref: '#/components/schemas/Market1Code'
        reporting_period:
          $ref: '#/components/schemas/ISOYearMonth'
        delivery_status:
          $ref: '#/components/schemas/DeliveryStatus1Choice'
        message_definition_identifier:
          $ref: '#/components/schemas/MessageType1Choice'
        my_institution:
          $ref: '#/components/schemas/PartyDetails1'
        counterparty:
          $ref: '#/components/schemas/PartyDetails1'
        geo_route:
          $ref: '#/components/schemas/GeoRoute1Choice'
        customer_route:
          $ref: '#/components/schemas/CustomerRoute1Choice'
        transactions_sent:
          $ref: '#/components/schemas/Max15NumericText'
        transactions_received:
          $ref: '#/components/schemas/Max15NumericText'
        total_swift_transactions_sent:
          $ref: '#/components/schemas/Max15NumericText'
        total_swift_transactions_received:
          $ref: '#/components/schemas/Max15NumericText'
        currency:
          $ref: '#/components/schemas/CurrencyDetails1Choice'
        amount_sent:
          $ref: '#/components/schemas/CurrencyAndAmount5'
        amount_received:
          $ref: '#/components/schemas/CurrencyAndAmount5'
        total_swift_amount_sent:
          $ref: '#/components/schemas/CurrencyAndAmount5'
        total_swift_amount_received:
          $ref: '#/components/schemas/CurrencyAndAmount5'
      additionalProperties: false
      description: Data model describing the banking data resource.
      example:
        message_definition_identifier:
          code: "103"
        amount_received: null
        total_swift_amount_sent: null
        customer_route:
          code: SWFT_swift
          proprietary: null
        amount_sent:
          original: "200000.00"
          us_dollar: "200000.00"
          euro: "195000.00"
        transactions_received: null
        market: PMTS_payments
        geo_route:
          code: DMST_domestic
          proprietary: null
        transactions_sent: transactions_sent
        total_swift_transactions_received: null
        total_swift_transactions_sent: null
        my_institution:
          country:
            code: code
            proprietary:
              code: BILA_bilaterally_agreed
              legacy: legacy
          id:
            proprietary: null
            any_bic: any_bic
          region:
            code: AFRC_africa
            proprietary:
              code: IMIR_imi_and_related_copies
              legacy: null
        counterparty: null
        currency:
          code: code
          proprietary:
            code: NCFD_no_currency_and_value_found
            legacy: null
        total_swift_amount_received: null
        delivery_status:
          code: ABRT_aborted
          proprietary: proprietary
        reporting_period: reporting_period
    CountryCode:
      pattern: "^[A-Z]{2,2}$"
      type: string
      description: "> Code to identify a country, a dependency, or another area of\
        \ particular geopolitical interest, on the basis of country names obtained\
        \ from the United Nations (ISO 3166, Alpha-2 code)."
    CountryIdentification2Choice:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/CountryCode'
        proprietary:
          $ref: '#/components/schemas/ProprietaryCountryInformation1'
      additionalProperties: false
      description: "Identifies a country through an ISO 3166 country code, or a proprietary\
        \ code."
      example:
        code: code
        proprietary:
          code: BILA_bilaterally_agreed
          legacy: legacy
      oneOf:
      - required:
        - code
      - required:
        - proprietary
    CurrencyAndAmount5:
      required:
      - euro
      - original
      - us_dollar
      type: object
      properties:
        original:
          $ref: '#/components/schemas/ImpliedCurrencyAndAmount'
        us_dollar:
          $ref: '#/components/schemas/ImpliedCurrencyAndAmount'
        euro:
          $ref: '#/components/schemas/ImpliedCurrencyAndAmount'
      additionalProperties: false
      description: "Specifies the amount in its original currency, in US Dollar and\
        \ in Euro. "
      example:
        original: "200000.00"
        us_dollar: "200000.00"
        euro: "195000.00"
    CurrencyDetails1Choice:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/ActiveCurrencyCode'
        proprietary:
          $ref: '#/components/schemas/ProprietaryCurrencyInformation1'
      additionalProperties: false
      description: Offers different (coded) formats to describe a currency.
      example:
        code: code
        proprietary:
          code: NCFD_no_currency_and_value_found
          legacy: null
      oneOf:
      - required:
        - code
      - required:
        - proprietary
    CustomerRoute1Choice:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/CustomerRoute1Code'
        proprietary:
          $ref: '#/components/schemas/Max4Text'
      additionalProperties: false
      description: "Specifies  the customer route of the message, either in coded\
        \ or proprietary form."
      example:
        code: SWFT_swift
        proprietary: null
      oneOf:
      - required:
        - code
      - required:
        - proprietary
    CustomerRoute1Code:
      type: string
      description: |-
        > Specifies the customer route of the message.
        *`SWFT_swift`-Traffic exchanged with SWIFT.
        *`ITER_inter_customer_group`-Traffic exchanged between different institutions.
        *`ITRA_intra_customer_group`-Traffic exchanged within the same institution group of branches.
      enum:
      - SWFT_swift
      - ITER_inter_customer_group
      - ITRA_intra_customer_group
    DeliveryStatus1Choice:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/DeliveryStatus2Code'
        proprietary:
          $ref: '#/components/schemas/Max35Text'
      additionalProperties: false
      description: "Specifies the delivery status of a message, in coded or proprietary\
        \ form."
      example:
        code: ABRT_aborted
        proprietary: proprietary
      oneOf:
      - required:
        - code
      - required:
        - proprietary
    DeliveryStatus2Code:
      type: string
      description: "> Specifies the status of the delivery of a message, in coded\
        \ form.\n*`ABRT_aborted`-Sending of message was aborted by sender.\n*`DLVR_delivered`-Message\
        \ was delivered to receiver.\n*`NACK_nacked`-Message was not acknowledged\
        \ by receiver.\n*`RFUS_refused_by_infrastructure`-Message was refused by the\
        \ infrastructure (e.g. SWIFT)"
      enum:
      - ABRT_aborted
      - DLVR_delivered
      - NACK_nacked
      - RFUS_refused_by_infrastructure
    GeoRoute1Choice:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/GeoRoute1Code'
        proprietary:
          $ref: '#/components/schemas/Max35Text'
      additionalProperties: false
      description: "Specifies  the geographical route of the message, either in coded\
        \ or proprietary form."
      example:
        code: DMST_domestic
        proprietary: null
      oneOf:
      - required:
        - code
      - required:
        - proprietary
    GeoRoute1Code:
      type: string
      description: |-
        > Specifies information about the geographic route the message is following.
        *`DMST_domestic`-Sender and receiver of the information are in the same country.
        *`INTL_international`-Sender and Receiver in different countries or the location of at least one of them is unknown.
        *`SWFT_swift`-Message involving SWIFT.
      enum:
      - DMST_domestic
      - INTL_international
      - SWFT_swift
    ISOYearMonth:
      pattern: "^(?:[1-9]\\d{3}-(?:0[1-9]|1[0-2]))$"
      type: string
      description: Month within a particular calendar year represented by YYYY-MM
        (ISO 8601).
    ImpliedCurrencyAndAmount:
      maxLength: 19
      pattern: "^-?0*(([0-9]{0,5}\\.[0-9]{1,13})|([0-9]{0,6}\\.[0-9]{1,12})|([0-9]{0,7}\\\
        .[0-9]{1,11})|([0-9]{0,8}\\.[0-9]{1,10})|([0-9]{0,9}\\.[0-9]{1,9})|([0-9]{0,10}\\\
        .[0-9]{1,8})|([0-9]{0,11}\\.[0-9]{1,7})|([0-9]{0,12}\\.[0-9]{1,6})|([0-9]{0,13}\\\
        .[0-9]{1,5})|([0-9]{0,14}\\.[0-9]{1,4})|([0-9]{0,15}\\.[0-9]{1,3})|([0-9]{0,16}\\\
        .[0-9]{1,2})|([0-9]{0,17}\\.[0-9]{1,1})0*|([0-9]{0,18}))$"
      type: string
      description: "Number of monetary units specified in a currency where the unit\
        \ of currency is implied by the context and compliant with ISO 4217. The decimal\
        \ separator is a dot.\nNote: a zero amount is considered a positive amount."
    Limit1:
      maximum: 1000
      minimum: 25
      type: integer
      description: Specifies an integer with values between 25 and 1000.
      default: 1000
    Market1Code:
      type: string
      description: |-
        > Specifies the business market.
        *`PMTS_payments`-Specifies the payments market.
        *`TRFN_trade_finance`-Specifies the trade finance market.
        *`TREA_treasury`-Specifies the treasury market.
      enum:
      - PMTS_payments
      - TRFN_trade_finance
      - TREA_treasury
    Max15NumericText:
      pattern: "^[0-9]{1,15}$"
      type: string
      description: Specifies a numeric string with a maximum length of 15 digits.
    Max35Text:
      maxLength: 35
      minLength: 1
      type: string
      description: Specifies a character string with a maximum length of 35 characters.
    Max4Text:
      maxLength: 4
      minLength: 1
      type: string
      description: Specifies a character string with a maximum length of 4 characters.
    MessageType1Choice:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/Min3Max4Text'
        proprietary:
          $ref: '#/components/schemas/Max35Text'
      additionalProperties: false
      description: Specifies the MessageDefinition in different types of format.
      example:
        code: "103"
      oneOf:
      - required:
        - code
      - required:
        - proprietary
    Min3Max4Text:
      maxLength: 4
      minLength: 3
      type: string
      description: "Specifies a character string with a minimum length of 3 characters,\
        \ and a maximum length of4 characters."
    Offset1:
      minimum: 0
      type: integer
      description: Specifies an integer with values equal than or larger than 0.
    PaginationLinks:
      required:
      - self
      type: object
      properties:
        self:
          type: string
          description: The URI to the current page in the response
          format: uri
        next:
          type: string
          description: The URI to the next page of response data
          format: uri
        previous:
          type: string
          description: The URI to the previous page of response data
          format: uri
        first:
          type: string
          description: The URI to the first page in the response
          format: uri
        last:
          type: string
          description: The URI to the last page in the response
          format: uri
      description: "Links to help to find the self, next, previous, first and last\
        \ pages of the response"
      example:
        next: http://example.com/aeiou
        previous: http://example.com/aeiou
        last: http://example.com/aeiou
        self: http://example.com/aeiou
        first: http://example.com/aeiou
    PartyDetails1:
      required:
      - country
      - id
      type: object
      properties:
        id:
          $ref: '#/components/schemas/PartyIdentification180Choice'
        country:
          $ref: '#/components/schemas/CountryIdentification2Choice'
        region:
          $ref: '#/components/schemas/Region1Choice'
      additionalProperties: false
      description: Specifies a party through a number of properties of that party.
      example:
        country:
          code: code
          proprietary:
            code: BILA_bilaterally_agreed
            legacy: legacy
        id:
          proprietary: null
          any_bic: any_bic
        region:
          code: AFRC_africa
          proprietary:
            code: IMIR_imi_and_related_copies
            legacy: null
    PartyIdentification180Choice:
      type: object
      properties:
        any_bic:
          $ref: '#/components/schemas/AnyBICDec2014Identifier'
        proprietary:
          $ref: '#/components/schemas/Max35Text'
      additionalProperties: false
      description: "Identification of a party using a BIC, a proprietary structure\
        \ or another structure."
      example:
        proprietary: null
        any_bic: any_bic
      oneOf:
      - required:
        - any_bic
      - required:
        - proprietary
    ProprietaryCountryInformation1:
      required:
      - code
      type: object
      properties:
        code:
          $ref: '#/components/schemas/ProprietaryGeoRegionInformation1Code'
        legacy:
          $ref: '#/components/schemas/Max4Text'
      additionalProperties: false
      description: Identifies a country in a proprietary way.
      example:
        code: BILA_bilaterally_agreed
        legacy: legacy
    ProprietaryCurrency1Code:
      type: string
      description: "> Specifies a currency in a proprietary, coded form.\n*`NCFD_no_currency_and_value_found`-No\
        \ currency and value found during recon.\n*`NTAV_not_available`-Information\
        \ is not available.\n*`OTHR_other`-Other than an ISO 4217 currency code."
      enum:
      - NCFD_no_currency_and_value_found
      - NTAV_not_available
      - OTHR_other
    ProprietaryCurrencyInformation1:
      required:
      - code
      type: object
      properties:
        code:
          $ref: '#/components/schemas/ProprietaryCurrency1Code'
        legacy:
          $ref: '#/components/schemas/Max4Text'
      additionalProperties: false
      description: Identifies a currency in a proprietary way.
      example:
        code: NCFD_no_currency_and_value_found
        legacy: null
    ProprietaryGeoRegionInformation1:
      required:
      - code
      type: object
      properties:
        code:
          $ref: '#/components/schemas/ProprietaryGeoRegionInformation2Code'
        legacy:
          $ref: '#/components/schemas/Max35Text'
      additionalProperties: false
      description: "Specifies the geographical region in a proprietary format, using\
        \ a code or a legacy structure."
      example:
        code: IMIR_imi_and_related_copies
        legacy: null
    ProprietaryGeoRegionInformation1Code:
      type: string
      description: "> Contains information about a country or geographical region\
        \ in a proprietary, coded form.\n*`BILA_bilaterally_agreed`-Bilaterally agreed.\n\
        *`EPTY_empty_element`-Empty element.\n*`FREE_free_format`-Free format.\n*`GIMI_global_imi`-Global\
        \ IMI\n*`INTI_international_instrument`-International Instrument.\n*`NOTA_not_available`-Not\
        \ available.\n*`OTHR_other`-Other.\n*`SWFT_swift`-SWIFT\n*`TGT2_target2`-Target\
        \ 2\n*`TCKS_ticker_symbol`-Ticker Symbol"
      enum:
      - BILA_bilaterally_agreed
      - EPTY_empty_element
      - FREE_free_format
      - GIMI_global_imi
      - INTI_international_instrument
      - NOTA_not_available
      - OTHR_other
      - SWFT_swift
      - TGT2_target2
      - TCKS_ticker_symbol
    ProprietaryGeoRegionInformation2Code:
      type: string
      description: "> Contains information about a country or geographical region\
        \ in a proprietary, coded form.\n*`IMIR_imi_and_related_copies`-IMI and related\
        \ copies.\n*`NOTA_not_available`-Not available.\n*`OTHR_other`-Other.\n*`SWFT_swift`-SWIFT"
      enum:
      - IMIR_imi_and_related_copies
      - NOTA_not_available
      - OTHR_other
      - SWFT_swift
    Region1Choice:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/Region1Code'
        proprietary:
          $ref: '#/components/schemas/ProprietaryGeoRegionInformation1'
      additionalProperties: false
      description: Specifies the region in various ways.
      example:
        code: AFRC_africa
        proprietary:
          code: IMIR_imi_and_related_copies
          legacy: null
      oneOf:
      - required:
        - code
      - required:
        - proprietary
    Region1Code:
      type: string
      description: "> Specifies the geographical region, in coded form.\n*`AFRC_africa`-African\
        \ region.\n*`APAC_asia_pacific`-Asia-Pacific region.\n*`CLAM_central_and_latin_america`-Central\
        \ and Latin-American region.\n*`EURO_euro_zone`-Region of European countries\
        \ that use the Euro currency.\n*`MDEA_middle_east`-Middle eastern region.\n\
        *`NEUR_non_euro_zone`-Region of European countries that don't use the Euro\
        \ currency.\n*`NOAM_north_america`-North American region."
      enum:
      - AFRC_africa
      - APAC_asia_pacific
      - CLAM_central_and_latin_america
      - EURO_euro_zone
      - MDEA_middle_east
      - NEUR_non_euro_zone
      - NOAM_north_america
    inline_response_200:
      required:
      - banking_data
      type: object
      properties:
        banking_data:
          type: array
          items:
            $ref: '#/components/schemas/BankingData1'
        links:
          $ref: '#/components/schemas/PaginationLinks'
      example:
        banking_data:
        - message_definition_identifier:
            code: "103"
          amount_received: null
          total_swift_amount_sent: null
          customer_route:
            code: SWFT_swift
            proprietary: null
          amount_sent:
            original: "200000.00"
            us_dollar: "200000.00"
            euro: "195000.00"
          transactions_received: null
          market: PMTS_payments
          geo_route:
            code: DMST_domestic
            proprietary: null
          transactions_sent: transactions_sent
          total_swift_transactions_received: null
          total_swift_transactions_sent: null
          my_institution:
            country:
              code: code
              proprietary:
                code: BILA_bilaterally_agreed
                legacy: legacy
            id:
              proprietary: null
              any_bic: any_bic
            region:
              code: AFRC_africa
              proprietary:
                code: IMIR_imi_and_related_copies
                legacy: null
          counterparty: null
          currency:
            code: code
            proprietary:
              code: NCFD_no_currency_and_value_found
              legacy: null
          total_swift_amount_received: null
          delivery_status:
            code: ABRT_aborted
            proprietary: proprietary
          reporting_period: reporting_period
        - message_definition_identifier:
            code: "103"
          amount_received: null
          total_swift_amount_sent: null
          customer_route:
            code: SWFT_swift
            proprietary: null
          amount_sent:
            original: "200000.00"
            us_dollar: "200000.00"
            euro: "195000.00"
          transactions_received: null
          market: PMTS_payments
          geo_route:
            code: DMST_domestic
            proprietary: null
          transactions_sent: transactions_sent
          total_swift_transactions_received: null
          total_swift_transactions_sent: null
          my_institution:
            country:
              code: code
              proprietary:
                code: BILA_bilaterally_agreed
                legacy: legacy
            id:
              proprietary: null
              any_bic: any_bic
            region:
              code: AFRC_africa
              proprietary:
                code: IMIR_imi_and_related_copies
                legacy: null
          counterparty: null
          currency:
            code: code
            proprietary:
              code: NCFD_no_currency_and_value_found
              legacy: null
          total_swift_amount_received: null
          delivery_status:
            code: ABRT_aborted
            proprietary: proprietary
          reporting_period: reporting_period
        links:
          next: http://example.com/aeiou
          previous: http://example.com/aeiou
          last: http://example.com/aeiou
          self: http://example.com/aeiou
          first: http://example.com/aeiou
  responses:
    GoodResponse:
      description: Response for a 200 status code
      headers:
        X-Response-Timestamp:
          description: Timestamp at which the operation was processed.
          style: simple
          explode: false
          schema:
            type: string
            format: date-time
        X-Request-ID:
          description: UUID that was passed to the request in the X-Request-ID header.
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200'
          examples:
            PMTS_2019-07_25_0:
              $ref: '#/components/examples/PMTS_2019-07_25_0'
            TRFN_2019-07_25_25:
              $ref: '#/components/examples/TRFN_2019-07_25_25'
            TREA_2019-07_50_25:
              $ref: '#/components/examples/TREA_2019-07_50_25'
            PMTS_2019-01_25_25:
              $ref: '#/components/examples/PMTS_2019-01_25_25'
            TRFN_2019-01_50_25:
              $ref: '#/components/examples/TRFN_2019-01_50_25'
            TREA_2019-01_25_0:
              $ref: '#/components/examples/TREA_2019-01_25_0'
            PMTS_2018-08_50_25:
              $ref: '#/components/examples/PMTS_2018-08_50_25'
            TRFN_2018-08_25_0:
              $ref: '#/components/examples/TRFN_2018-08_25_0'
            TREA_2018-08_25_25:
              $ref: '#/components/examples/TREA_2018-08_25_25'
    SeeOther:
      description: See Other
      headers:
        X-Response-Timestamp:
          description: Timestamp at which the operation was processed.
          style: simple
          explode: false
          schema:
            type: string
            format: date-time
        X-Request-ID:
          description: UUID that was passed to the request in the X-Request-ID header.
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
        Location:
          description: Specifies a redirection URI because the original request cannot
            be handled by the server.
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/Max256Text'
    BadRequest:
      description: Bad request
      headers:
        X-Response-Timestamp:
          description: Timestamp at which the operation was processed.
          style: simple
          explode: false
          schema:
            type: string
            format: date-time
        X-Request-ID:
          description: UUID that was passed to the request in the X-Request-ID header.
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericStatus1'
          examples:
            missingParameter:
              $ref: '#/components/examples/missingParameter'
            parameterInvalid:
              $ref: '#/components/examples/parameterInvalid'
            bodyIsNotWellFormed:
              $ref: '#/components/examples/bodyIsNotWellFormed'
            headerNotIncluded:
              $ref: '#/components/examples/headerNotIncluded'
            xbicHeaderNotValid:
              $ref: '#/components/examples/xbicHeaderNotValid'
    Unauthorized:
      description: Unauthorized
      headers:
        X-Response-Timestamp:
          description: Timestamp at which the operation was processed.
          style: simple
          explode: false
          schema:
            type: string
            format: date-time
        X-Request-ID:
          description: UUID that was passed to the request in the X-Request-ID header.
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericStatus1'
          examples:
            invalidOAuthToken:
              $ref: '#/components/examples/invalidOAuthToken'
            OAuthTokenHasInsufficentScopeForRequestedService:
              $ref: '#/components/examples/OAuthTokenHasInsufficentScopeForRequestedService'
            OAuthTokenNotProvided:
              $ref: '#/components/examples/OAuthTokenNotProvided'
    Forbidden:
      description: Forbidden
      headers:
        X-Response-Timestamp:
          description: Timestamp at which the operation was processed.
          style: simple
          explode: false
          schema:
            type: string
            format: date-time
        X-Request-ID:
          description: UUID that was passed to the request in the X-Request-ID header.
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericStatus1'
          examples:
            invalidContract:
              $ref: '#/components/examples/invalidContract'
    NotFound:
      description: Not Found
      headers:
        X-Response-Timestamp:
          description: Timestamp at which the operation was processed.
          style: simple
          explode: false
          schema:
            type: string
            format: date-time
        X-Request-ID:
          description: UUID that was passed to the request in the X-Request-ID header.
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericStatus1'
          examples:
            notFound:
              $ref: '#/components/examples/notFound'
    NotAcceptable:
      description: Server cannot produce a response matching the list of media types
        accepted by the client
      headers:
        X-Response-Timestamp:
          description: Timestamp at which the operation was processed.
          style: simple
          explode: false
          schema:
            type: string
            format: date-time
        X-Request-ID:
          description: UUID that was passed to the request in the X-Request-ID header.
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericStatus1'
          examples:
            noAcceptableReturnType:
              $ref: '#/components/examples/noAcceptableReturnType'
    TooManyRequests:
      description: Too Many Requests
      headers:
        X-Response-Timestamp:
          description: Timestamp at which the operation was processed.
          style: simple
          explode: false
          schema:
            type: string
            format: date-time
        X-Request-ID:
          description: UUID that was passed to the request in the X-Request-ID header.
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericStatus1'
          examples:
            tooManyRequest:
              $ref: '#/components/examples/tooManyRequest'
    Conflict:
      description: Conflict
      headers:
        X-Response-Timestamp:
          description: Timestamp at which the operation was processed.
          style: simple
          explode: false
          schema:
            type: string
            format: date-time
        X-Request-ID:
          description: UUID that was passed to the request in the X-Request-ID header.
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericStatus1'
    InternalServerError:
      description: Internal server error
      headers:
        X-Response-Timestamp:
          description: Timestamp at which the operation was processed.
          style: simple
          explode: false
          schema:
            type: string
            format: date-time
        X-Request-ID:
          description: UUID that was passed to the request in the X-Request-ID header.
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericStatus1'
          examples:
            internalServerError:
              $ref: '#/components/examples/internalServerError'
    BadGateway:
      description: Bad Gateway
      headers:
        X-Response-Timestamp:
          description: Timestamp at which the operation was processed.
          style: simple
          explode: false
          schema:
            type: string
            format: date-time
        X-Request-ID:
          description: UUID that was passed to the request in the X-Request-ID header.
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericStatus1'
          examples:
            badGateway:
              $ref: '#/components/examples/badGateway'
    ServiceUnavailable:
      description: Service Unavailable
      headers:
        X-Response-Timestamp:
          description: Timestamp at which the operation was processed.
          style: simple
          explode: false
          schema:
            type: string
            format: date-time
        X-Request-ID:
          description: UUID that was passed to the request in the X-Request-ID header.
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericStatus1'
          examples:
            unavailable:
              $ref: '#/components/examples/unavailable'
    GatewayTimeout:
      description: Gateway timeout
      headers:
        X-Response-Timestamp:
          description: Timestamp at which the operation was processed.
          style: simple
          explode: false
          schema:
            type: string
            format: date-time
        X-Request-ID:
          description: UUID that was passed to the request in the X-Request-ID header.
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericStatus1'
          examples:
            timeOut:
              $ref: '#/components/examples/timeOut'
    UnexpectedError:
      description: Unexpected Error
      headers:
        X-Response-Timestamp:
          description: Timestamp at which the operation was processed.
          style: simple
          explode: false
          schema:
            type: string
            format: date-time
        X-Request-ID:
          description: UUID that was passed to the request in the X-Request-ID header.
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/UUIDv4RestrictedExact32TextIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericStatus1'
          examples:
            unexpectedError:
              $ref: '#/components/examples/unexpectedError'
  parameters:
    Market:
      name: market
      in: query
      description: Specifies the market to which the banking data belongs.
      required: true
      style: form
      explode: true
      schema:
        $ref: '#/components/schemas/Market1Code'
      examples:
        PMTS_payments:
          value: PMTS_payments
        TRFN_trade_finance:
          value: TRFN_trade_finance
        TREA_treasury:
          value: TREA_treasury
    ReportingPeriod:
      name: reporting_period
      in: query
      description: specifies the month the reported data covers.
      required: true
      style: form
      explode: true
      schema:
        $ref: '#/components/schemas/ISOYearMonth'
      examples:
        "2019-07":
          value: 2019-07
        "2019-01":
          value: 2019-01
        "2018-08":
          value: 2018-08
    Limit:
      name: limit
      in: query
      description: Limits the maximum number of results to be displayed on a page
        with a minimum of 25 (putting less defaults to 25) and a maximum of 1000 (putting
        more defaults to 1000).
      required: false
      style: form
      explode: true
      schema:
        $ref: '#/components/schemas/Limit1'
      examples:
        "25":
          value: "25"
        "50":
          value: "50"
        "500":
          value: "500"
        "1000":
          value: "1000"
    Offset:
      name: offset
      in: query
      description: Specifies the number of items from which to start returning results.
      required: false
      style: form
      explode: true
      schema:
        $ref: '#/components/schemas/Offset1'
      examples:
        "0":
          value: "0"
        "25":
          value: "25"
        "500":
          value: "500"
        "1000":
          value: "1000"
  examples:
    PMTS_2019-07_25_0:
      value:
        banking_data:
        - market: PMTS_payments
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "103"
          my_institution:
            id:
              any_bic: DEMOUS01
            country:
              code: US
            region:
              code: NOAM_north_america
          counterparty:
            id:
              any_bic: DEMOGB01
            country:
              code: GB
            region:
              code: EURO_euro_zone
          geo_route:
            code: INTL_international
          customer_route:
            code: ITER_inter_customer_group
          transactions_sent: "302134"
          transactions_received: "93637"
          total_swift_transactions_sent: "1412471"
          total_swift_transactions_received: "922012"
          currency:
            code: EUR
          amount_sent:
            original: "20458210.12"
            us_dollar: "22504031.13"
            euro: "20458210.12"
          amount_received:
            original: "31762211.04"
            us_dollar: "34938432.14"
            euro: "31762211.04"
          total_swift_amount_sent:
            original: "3249744217"
            us_dollar: "3574718639"
            euro: "3249744217"
          total_swift_amount_received:
            original: "4122594413"
            us_dollar: "4534853854"
            euro: "4122594413"
        - market: PMTS_payments
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "205"
          my_institution:
            id:
              any_bic: DEMOFR01
            country:
              code: FR
            region:
              code: EURO_euro_zone
          counterparty:
            id:
              any_bic: DEMONL01
            country:
              code: NL
            region:
              code: EURO_euro_zone
          geo_route:
            code: INTL_international
          customer_route:
            code: ITRA_intra_customer_group
          transactions_sent: "203456"
          transactions_received: "93637"
          total_swift_transactions_sent: "1412471"
          total_swift_transactions_received: "922012"
          currency:
            code: USD
          amount_sent:
            original: "14823109.72"
            us_dollar: "14823109.72"
            euro: "13475554.29"
          amount_received:
            original: "21138104.12"
            us_dollar: "21138104.12"
            euro: "19216458.29"
          total_swift_amount_sent:
            original: "2221831193"
            us_dollar: "2221831193"
            euro: "2019846539"
          total_swift_amount_received:
            original: "3929211235"
            us_dollar: "3929211235"
            euro: "3572010214"
        - market: PMTS_payments
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "202"
          my_institution:
            id:
              any_bic: DEMOUS01
            country:
              code: US
            region:
              code: NOAM_north_america
          counterparty:
            id:
              any_bic: DEMOUS31
            country:
              code: US
            region:
              code: NOAM_north_america
          geo_route:
            code: DMST_domestic
          customer_route:
            code: ITRA_intra_customer_group
          transactions_sent: "78231"
          transactions_received: "44029"
          total_swift_transactions_sent: "1942384"
          total_swift_transactions_received: "1140234"
          currency:
            code: USD
          amount_sent:
            original: "12421309.72"
            us_dollar: "12421309.72"
            euro: "11292099.75"
          amount_received:
            original: "25118110.12"
            us_dollar: "25118110.12"
            euro: "22834645.56"
          total_swift_amount_sent:
            original: "2622883193"
            us_dollar: "2622883193"
            euro: "2384439266"
          total_swift_amount_received:
            original: "3994212235"
            us_dollar: "3994212235"
            euro: "3631102032"
        - market: PMTS_payments
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "125"
          my_institution:
            id:
              any_bic: DEMOUS01
            country:
              code: US
            region:
              code: NOAM_north_america
          counterparty:
            id:
              any_bic: DEMOGB01
            country:
              code: DE
            region:
              code: EURO_euro_zone
          geo_route:
            code: INTL_international
          customer_route:
            code: ITER_inter_customer_group
          transactions_sent: "302134"
          transactions_received: "93637"
          total_swift_transactions_sent: "1412471"
          total_swift_transactions_received: "922012"
          currency:
            code: EUR
          amount_sent:
            original: "20458210.12"
            us_dollar: "22504031.13"
            euro: "20458210.12"
          amount_received:
            original: "31762211.04"
            us_dollar: "34938432.14"
            euro: "31762211.04"
          total_swift_amount_sent:
            original: "3249744217"
            us_dollar: "3574718639"
            euro: "3249744217"
          total_swift_amount_received:
            original: "4122594413"
            us_dollar: "4534853854"
            euro: "4122594413"
        - market: PMTS_payments
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "208"
          my_institution:
            id:
              any_bic: DEMOUS01
            country:
              code: US
            region:
              code: NOAM_north_america
          counterparty:
            id:
              any_bic: DEMOUS31
            country:
              code: US
            region:
              code: NOAM_north_america
          geo_route:
            code: DMST_domestic
          customer_route:
            code: ITRA_intra_customer_group
          transactions_sent: "78231"
          transactions_received: "44029"
          total_swift_transactions_sent: "1942384"
          total_swift_transactions_received: "1140234"
          currency:
            code: USD
          amount_sent:
            original: "12421309.72"
            us_dollar: "12421309.72"
            euro: "11292099.75"
          amount_received:
            original: "25118110.12"
            us_dollar: "25118110.12"
            euro: "22834645.56"
          total_swift_amount_sent:
            original: "2622883193"
            us_dollar: "2622883193"
            euro: "2384439266"
          total_swift_amount_received:
            original: "3994212235"
            us_dollar: "3994212235"
            euro: "3631102032"
        - market: PMTS_payments
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "205"
          my_institution:
            id:
              any_bic: DEMOFR01
            country:
              code: NL
            region:
              code: EURO_euro_zone
          counterparty:
            id:
              any_bic: DEMONL01
            country:
              code: FR
            region:
              code: EURO_euro_zone
          geo_route:
            code: INTL_international
          customer_route:
            code: ITRA_intra_customer_group
          transactions_sent: "203456"
          transactions_received: "93637"
          total_swift_transactions_sent: "1412471"
          total_swift_transactions_received: "922012"
          currency:
            code: USD
          amount_sent:
            original: "14823109.72"
            us_dollar: "14823109.72"
            euro: "13475554.29"
          amount_received:
            original: "21138104.12"
            us_dollar: "21138104.12"
            euro: "19216458.29"
          total_swift_amount_sent:
            original: "2221831193"
            us_dollar: "2221831193"
            euro: "2019846539"
          total_swift_amount_received:
            original: "3929211235"
            us_dollar: "3929211235"
            euro: "3572010214"
        - market: PMTS_payments
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "103"
          my_institution:
            id:
              any_bic: DEMOUS01
            country:
              code: US
            region:
              code: NOAM_north_america
          counterparty:
            id:
              any_bic: DEMOGB01
            country:
              code: GB
            region:
              code: EURO_euro_zone
          geo_route:
            code: INTL_international
          customer_route:
            code: ITER_inter_customer_group
          transactions_sent: "302134"
          transactions_received: "93637"
          total_swift_transactions_sent: "1412471"
          total_swift_transactions_received: "922012"
          currency:
            code: EUR
          amount_sent:
            original: "20458210.12"
            us_dollar: "22504031.13"
            euro: "20458210.12"
          amount_received:
            original: "31762211.04"
            us_dollar: "34938432.14"
            euro: "31762211.04"
          total_swift_amount_sent:
            original: "3249744217"
            us_dollar: "3574718639"
            euro: "3249744217"
          total_swift_amount_received:
            original: "4122594413"
            us_dollar: "4534853854"
            euro: "4122594413"
        - market: PMTS_payments
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "205"
          my_institution:
            id:
              any_bic: DEMOFR01
            country:
              code: FR
            region:
              code: EURO_euro_zone
          counterparty:
            id:
              any_bic: DEMONL01
            country:
              code: NL
            region:
              code: EURO_euro_zone
          geo_route:
            code: INTL_international
          customer_route:
            code: ITRA_intra_customer_group
          transactions_sent: "203456"
          transactions_received: "93637"
          total_swift_transactions_sent: "1412471"
          total_swift_transactions_received: "922012"
          currency:
            code: USD
          amount_sent:
            original: "14823109.72"
            us_dollar: "14823109.72"
            euro: "13475554.29"
          amount_received:
            original: "21138104.12"
            us_dollar: "21138104.12"
            euro: "19216458.29"
          total_swift_amount_sent:
            original: "2221831193"
            us_dollar: "2221831193"
            euro: "2019846539"
          total_swift_amount_received:
            original: "3929211235"
            us_dollar: "3929211235"
            euro: "3572010214"
        - market: PMTS_payments
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "202"
          my_institution:
            id:
              any_bic: DEMOUS01
            country:
              code: US
            region:
              code: NOAM_north_america
          counterparty:
            id:
              any_bic: DEMOUS31
            country:
              code: US
            region:
              code: NOAM_north_america
          geo_route:
            code: DMST_domestic
          customer_route:
            code: ITRA_intra_customer_group
          transactions_sent: "78231"
          transactions_received: "44029"
          total_swift_transactions_sent: "1942384"
          total_swift_transactions_received: "1140234"
          currency:
            code: USD
          amount_sent:
            original: "12421309.72"
            us_dollar: "12421309.72"
            euro: "11292099.75"
          amount_received:
            original: "25118110.12"
            us_dollar: "25118110.12"
            euro: "22834645.56"
          total_swift_amount_sent:
            original: "2622883193"
            us_dollar: "2622883193"
            euro: "2384439266"
          total_swift_amount_received:
            original: "3994212235"
            us_dollar: "3994212235"
            euro: "3631102032"
        - market: PMTS_payments
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "125"
          my_institution:
            id:
              any_bic: DEMOUS01
            country:
              code: US
            region:
              code: NOAM_north_america
          counterparty:
            id:
              any_bic: DEMOGB01
            country:
              code: DE
            region:
              code: EURO_euro_zone
          geo_route:
            code: INTL_international
          customer_route:
            code: ITER_inter_customer_group
          transactions_sent: "302134"
          transactions_received: "93637"
          total_swift_transactions_sent: "1412471"
          total_swift_transactions_received: "922012"
          currency:
            code: EUR
          amount_sent:
            original: "20458210.12"
            us_dollar: "22504031.13"
            euro: "20458210.12"
          amount_received:
            original: "31762211.04"
            us_dollar: "34938432.14"
            euro: "31762211.04"
          total_swift_amount_sent:
            original: "3249744217"
            us_dollar: "3574718639"
            euro: "3249744217"
          total_swift_amount_received:
            original: "4122594413"
            us_dollar: "4534853854"
            euro: "4122594413"
        - market: PMTS_payments
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "208"
          my_institution:
            id:
              any_bic: DEMOUS01
            country:
              code: US
            region:
              code: NOAM_north_america
          counterparty:
            id:
              any_bic: DEMOUS31
            country:
              code: US
            region:
              code: NOAM_north_america
          geo_route:
            code: DMST_domestic
          customer_route:
            code: ITRA_intra_customer_group
          transactions_sent: "78231"
          transactions_received: "44029"
          total_swift_transactions_sent: "1942384"
          total_swift_transactions_received: "1140234"
          currency:
            code: USD
          amount_sent:
            original: "12421309.72"
            us_dollar: "12421309.72"
            euro: "11292099.75"
          amount_received:
            original: "25118110.12"
            us_dollar: "25118110.12"
            euro: "22834645.56"
          total_swift_amount_sent:
            original: "2622883193"
            us_dollar: "2622883193"
            euro: "2384439266"
          total_swift_amount_received:
            original: "3994212235"
            us_dollar: "3994212235"
            euro: "3631102032"
        - market: PMTS_payments
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "205"
          my_institution:
            id:
              any_bic: DEMOFR01
            country:
              code: NL
            region:
              code: EURO_euro_zone
          counterparty:
            id:
              any_bic: DEMONL01
            country:
              code: FR
            region:
              code: EURO_euro_zone
          geo_route:
            code: INTL_international
          customer_route:
            code: ITRA_intra_customer_group
          transactions_sent: "203456"
          transactions_received: "93637"
          total_swift_transactions_sent: "1412471"
          total_swift_transactions_received: "922012"
          currency:
            code: USD
          amount_sent:
            original: "14823109.72"
            us_dollar: "14823109.72"
            euro: "13475554.29"
          amount_received:
            original: "21138104.12"
            us_dollar: "21138104.12"
            euro: "19216458.29"
          total_swift_amount_sent:
            original: "2221831193"
            us_dollar: "2221831193"
            euro: "2019846539"
          total_swift_amount_received:
            original: "3929211235"
            us_dollar: "3929211235"
            euro: "3572010214"
        - market: PMTS_payments
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "103"
          my_institution:
            id:
              any_bic: DEMOUS01
            country:
              code: US
            region:
              code: NOAM_north_america
          counterparty:
            id:
              any_bic: DEMOGB01
            country:
              code: GB
            region:
              code: EURO_euro_zone
          geo_route:
            code: INTL_international
          customer_route:
            code: ITER_inter_customer_group
          transactions_sent: "302134"
          transactions_received: "93637"
          total_swift_transactions_sent: "1412471"
          total_swift_transactions_received: "922012"
          currency:
            code: EUR
          amount_sent:
            original: "20458210.12"
            us_dollar: "22504031.13"
            euro: "20458210.12"
          amount_received:
            original: "31762211.04"
            us_dollar: "34938432.14"
            euro: "31762211.04"
          total_swift_amount_sent:
            original: "3249744217"
            us_dollar: "3574718639"
            euro: "3249744217"
          total_swift_amount_received:
            original: "4122594413"
            us_dollar: "4534853854"
            euro: "4122594413"
        - market: PMTS_payments
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "205"
          my_institution:
            id:
              any_bic: DEMOFR01
            country:
              code: FR
            region:
              code: EURO_euro_zone
          counterparty:
            id:
              any_bic: DEMONL01
            country:
              code: NL
            region:
              code: EURO_euro_zone
          geo_route:
            code: INTL_international
          customer_route:
            code: ITRA_intra_customer_group
          transactions_sent: "203456"
          transactions_received: "93637"
          total_swift_transactions_sent: "1412471"
          total_swift_transactions_received: "922012"
          currency:
            code: USD
          amount_sent:
            original: "14823109.72"
            us_dollar: "14823109.72"
            euro: "13475554.29"
          amount_received:
            original: "21138104.12"
            us_dollar: "21138104.12"
            euro: "19216458.29"
          total_swift_amount_sent:
            original: "2221831193"
            us_dollar: "2221831193"
            euro: "2019846539"
          total_swift_amount_received:
            original: "3929211235"
            us_dollar: "3929211235"
            euro: "3572010214"
        - market: PMTS_payments
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "202"
          my_institution:
            id:
              any_bic: DEMOUS01
            country:
              code: US
            region:
              code: NOAM_north_america
          counterparty:
            id:
              any_bic: DEMOUS31
            country:
              code: US
            region:
              code: NOAM_north_america
          geo_route:
            code: DMST_domestic
          customer_route:
            code: ITRA_intra_customer_group
          transactions_sent: "78231"
          transactions_received: "44029"
          total_swift_transactions_sent: "1942384"
          total_swift_transactions_received: "1140234"
          currency:
            code: USD
          amount_sent:
            original: "12421309.72"
            us_dollar: "12421309.72"
            euro: "11292099.75"
          amount_received:
            original: "25118110.12"
            us_dollar: "25118110.12"
            euro: "22834645.56"
          total_swift_amount_sent:
            original: "2622883193"
            us_dollar: "2622883193"
            euro: "2384439266"
          total_swift_amount_received:
            original: "3994212235"
            us_dollar: "3994212235"
            euro: "3631102032"
        - market: PMTS_payments
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "125"
          my_institution:
            id:
              any_bic: DEMOUS01
            country:
              code: US
            region:
              code: NOAM_north_america
          counterparty:
            id:
              any_bic: DEMOGB01
            country:
              code: DE
            region:
              code: EURO_euro_zone
          geo_route:
            code: INTL_international
          customer_route:
            code: ITER_inter_customer_group
          transactions_sent: "302134"
          transactions_received: "93637"
          total_swift_transactions_sent: "1412471"
          total_swift_transactions_received: "922012"
          currency:
            code: EUR
          amount_sent:
            original: "20458210.12"
            us_dollar: "22504031.13"
            euro: "20458210.12"
          amount_received:
            original: "31762211.04"
            us_dollar: "34938432.14"
            euro: "31762211.04"
          total_swift_amount_sent:
            original: "3249744217"
            us_dollar: "3574718639"
            euro: "3249744217"
          total_swift_amount_received:
            original: "4122594413"
            us_dollar: "4534853854"
            euro: "4122594413"
        - market: PMTS_payments
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "208"
          my_institution:
            id:
              any_bic: DEMOUS01
            country:
              code: US
            region:
              code: NOAM_north_america
          counterparty:
            id:
              any_bic: DEMOUS31
            country:
              code: US
            region:
              code: NOAM_north_america
          geo_route:
            code: DMST_domestic
          customer_route:
            code: ITRA_intra_customer_group
          transactions_sent: "78231"
          transactions_received: "44029"
          total_swift_transactions_sent: "1942384"
          total_swift_transactions_received: "1140234"
          currency:
            code: USD
          amount_sent:
            original: "12421309.72"
            us_dollar: "12421309.72"
            euro: "11292099.75"
          amount_received:
            original: "25118110.12"
            us_dollar: "25118110.12"
            euro: "22834645.56"
          total_swift_amount_sent:
            original: "2622883193"
            us_dollar: "2622883193"
            euro: "2384439266"
          total_swift_amount_received:
            original: "3994212235"
            us_dollar: "3994212235"
            euro: "3631102032"
        - market: PMTS_payments
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "205"
          my_institution:
            id:
              any_bic: DEMOFR01
            country:
              code: NL
            region:
              code: EURO_euro_zone
          counterparty:
            id:
              any_bic: DEMONL01
            country:
              code: FR
            region:
              code: EURO_euro_zone
          geo_route:
            code: INTL_international
          customer_route:
            code: ITRA_intra_customer_group
          transactions_sent: "203456"
          transactions_received: "93637"
          total_swift_transactions_sent: "1412471"
          total_swift_transactions_received: "922012"
          currency:
            code: USD
          amount_sent:
            original: "14823109.72"
            us_dollar: "14823109.72"
            euro: "13475554.29"
          amount_received:
            original: "21138104.12"
            us_dollar: "21138104.12"
            euro: "19216458.29"
          total_swift_amount_sent:
            original: "2221831193"
            us_dollar: "2221831193"
            euro: "2019846539"
          total_swift_amount_received:
            original: "3929211235"
            us_dollar: "3929211235"
            euro: "3572010214"
        - market: PMTS_payments
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "103"
          my_institution:
            id:
              any_bic: DEMOUS01
            country:
              code: US
            region:
              code: NOAM_north_america
          counterparty:
            id:
              any_bic: DEMOGB01
            country:
              code: GB
            region:
              code: EURO_euro_zone
          geo_route:
            code: INTL_international
          customer_route:
            code: ITER_inter_customer_group
          transactions_sent: "302134"
          transactions_received: "93637"
          total_swift_transactions_sent: "1412471"
          total_swift_transactions_received: "922012"
          currency:
            code: EUR
          amount_sent:
            original: "20458210.12"
            us_dollar: "22504031.13"
            euro: "20458210.12"
          amount_received:
            original: "31762211.04"
            us_dollar: "34938432.14"
            euro: "31762211.04"
          total_swift_amount_sent:
            original: "3249744217"
            us_dollar: "3574718639"
            euro: "3249744217"
          total_swift_amount_received:
            original: "4122594413"
            us_dollar: "4534853854"
            euro: "4122594413"
        - market: PMTS_payments
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "205"
          my_institution:
            id:
              any_bic: DEMOFR01
            country:
              code: FR
            region:
              code: EURO_euro_zone
          counterparty:
            id:
              any_bic: DEMONL01
            country:
              code: NL
            region:
              code: EURO_euro_zone
          geo_route:
            code: INTL_international
          customer_route:
            code: ITRA_intra_customer_group
          transactions_sent: "203456"
          transactions_received: "93637"
          total_swift_transactions_sent: "1412471"
          total_swift_transactions_received: "922012"
          currency:
            code: USD
          amount_sent:
            original: "14823109.72"
            us_dollar: "14823109.72"
            euro: "13475554.29"
          amount_received:
            original: "21138104.12"
            us_dollar: "21138104.12"
            euro: "19216458.29"
          total_swift_amount_sent:
            original: "2221831193"
            us_dollar: "2221831193"
            euro: "2019846539"
          total_swift_amount_received:
            original: "3929211235"
            us_dollar: "3929211235"
            euro: "3572010214"
        - market: PMTS_payments
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "202"
          my_institution:
            id:
              any_bic: DEMOUS01
            country:
              code: US
            region:
              code: NOAM_north_america
          counterparty:
            id:
              any_bic: DEMOUS31
            country:
              code: US
            region:
              code: NOAM_north_america
          geo_route:
            code: DMST_domestic
          customer_route:
            code: ITRA_intra_customer_group
          transactions_sent: "78231"
          transactions_received: "44029"
          total_swift_transactions_sent: "1942384"
          total_swift_transactions_received: "1140234"
          currency:
            code: USD
          amount_sent:
            original: "12421309.72"
            us_dollar: "12421309.72"
            euro: "11292099.75"
          amount_received:
            original: "25118110.12"
            us_dollar: "25118110.12"
            euro: "22834645.56"
          total_swift_amount_sent:
            original: "2622883193"
            us_dollar: "2622883193"
            euro: "2384439266"
          total_swift_amount_received:
            original: "3994212235"
            us_dollar: "3994212235"
            euro: "3631102032"
        - market: PMTS_payments
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "125"
          my_institution:
            id:
              any_bic: DEMOUS01
            country:
              code: US
            region:
              code: NOAM_north_america
          counterparty:
            id:
              any_bic: DEMOGB01
            country:
              code: DE
            region:
              code: EURO_euro_zone
          geo_route:
            code: INTL_international
          customer_route:
            code: ITER_inter_customer_group
          transactions_sent: "302134"
          transactions_received: "93637"
          total_swift_transactions_sent: "1412471"
          total_swift_transactions_received: "922012"
          currency:
            code: EUR
          amount_sent:
            original: "20458210.12"
            us_dollar: "22504031.13"
            euro: "20458210.12"
          amount_received:
            original: "31762211.04"
            us_dollar: "34938432.14"
            euro: "31762211.04"
          total_swift_amount_sent:
            original: "3249744217"
            us_dollar: "3574718639"
            euro: "3249744217"
          total_swift_amount_received:
            original: "4122594413"
            us_dollar: "4534853854"
            euro: "4122594413"
        - market: PMTS_payments
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "208"
          my_institution:
            id:
              any_bic: DEMOUS01
            country:
              code: US
            region:
              code: NOAM_north_america
          counterparty:
            id:
              any_bic: DEMOUS31
            country:
              code: US
            region:
              code: NOAM_north_america
          geo_route:
            code: DMST_domestic
          customer_route:
            code: ITRA_intra_customer_group
          transactions_sent: "78231"
          transactions_received: "44029"
          total_swift_transactions_sent: "1942384"
          total_swift_transactions_received: "1140234"
          currency:
            code: USD
          amount_sent:
            original: "12421309.72"
            us_dollar: "12421309.72"
            euro: "11292099.75"
          amount_received:
            original: "25118110.12"
            us_dollar: "25118110.12"
            euro: "22834645.56"
          total_swift_amount_sent:
            original: "2622883193"
            us_dollar: "2622883193"
            euro: "2384439266"
          total_swift_amount_received:
            original: "3994212235"
            us_dollar: "3994212235"
            euro: "3631102032"
        - market: PMTS_payments
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "205"
          my_institution:
            id:
              any_bic: DEMOFR01
            country:
              code: NL
            region:
              code: EURO_euro_zone
          counterparty:
            id:
              any_bic: DEMONL01
            country:
              code: FR
            region:
              code: EURO_euro_zone
          geo_route:
            code: INTL_international
          customer_route:
            code: ITRA_intra_customer_group
          transactions_sent: "203456"
          transactions_received: "93637"
          total_swift_transactions_sent: "1412471"
          total_swift_transactions_received: "922012"
          currency:
            code: USD
          amount_sent:
            original: "14823109.72"
            us_dollar: "14823109.72"
            euro: "13475554.29"
          amount_received:
            original: "21138104.12"
            us_dollar: "21138104.12"
            euro: "19216458.29"
          total_swift_amount_sent:
            original: "2221831193"
            us_dollar: "2221831193"
            euro: "2019846539"
          total_swift_amount_received:
            original: "3929211235"
            us_dollar: "3929211235"
            euro: "3572010214"
        - market: PMTS_payments
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "950"
          my_institution:
            id:
              any_bic: DEMOFR01
            country:
              code: BE
            region:
              code: EURO_euro_zone
          counterparty:
            id:
              any_bic: DEMONL01
            country:
              code: FR
            region:
              code: EURO_euro_zone
          geo_route:
            code: INTL_international
          customer_route:
            code: ITRA_intra_customer_group
          transactions_sent: "203456"
          transactions_received: "93637"
          total_swift_transactions_sent: "1412471"
          total_swift_transactions_received: "922012"
          currency:
            code: USD
          amount_sent:
            original: "14823109.72"
            us_dollar: "14823109.72"
            euro: "13475554.29"
          amount_received:
            original: "21138104.12"
            us_dollar: "21138104.12"
            euro: "19216458.29"
          total_swift_amount_sent:
            original: "2221831193"
            us_dollar: "2221831193"
            euro: "2019846539"
          total_swift_amount_received:
            original: "3929211235"
            us_dollar: "3929211235"
            euro: "3572010214"
        links:
          self: /value-and-currency?market=PMTS_payments&reporting_period=2019-07&limit=25&offset=0
          next: /value-and-currency?market=PMTS_payments&reporting_period=2019-07&limit=25&offset=25
          first: /value-and-currency?market=PMTS_payments&reporting_period=2019-07&limit=25&offset=0
          last: /value-and-currency?market=PMTS_payments&reporting_period=2019-07&limit=25&offset=2000
    TRFN_2019-07_25_25:
      value:
        banking_data:
        - market: TRFN_trade_finance
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "799"
          my_institution:
            id:
              any_bic: DEMOUS01
            country:
              code: US
            region:
              code: NOAM_north_america
          counterparty:
            id:
              any_bic: DEMOGB01
            country:
              code: GB
            region:
              code: EURO_euro_zone
          geo_route:
            code: INTL_international
          customer_route:
            code: ITRA_intra_customer_group
          transactions_sent: "9023"
          transactions_received: "8310"
          total_swift_transactions_sent: "92038"
          total_swift_transactions_received: "90022"
          currency:
            code: USD
          amount_sent:
            original: "21293841.12"
            us_dollar: "21293841.12"
            euro: "19358037.38"
          amount_received:
            original: "1923842.44"
            us_dollar: "1923842.44"
            euro: "1748947.673"
          total_swift_amount_sent:
            original: "92402193.11"
            us_dollar: "92402193.11"
            euro: "84001993.74"
          total_swift_amount_received:
            original: "77329299.01"
            us_dollar: "77329299.01"
            euro: "70299362.74"
        - market: TRFN_trade_finance
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "700"
          my_institution:
            id:
              any_bic: DEMOUS01
            country:
              code: US
            region:
              code: NOAM_north_america
          counterparty:
            id:
              any_bic: DEMOUS31
            country:
              code: US
            region:
              code: NOAM_north_america
          geo_route:
            code: DMST_domestic
          customer_route:
            code: ITRA_intra_customer_group
          transactions_sent: "1029"
          transactions_received: "2038"
          total_swift_transactions_sent: "8203"
          total_swift_transactions_received: "13009"
          currency:
            code: USD
          amount_sent:
            original: "929384.11"
            us_dollar: "929384.11"
            euro: "844894.6455"
          amount_received:
            original: "1412039"
            us_dollar: "1412039"
            euro: "1283671.818"
          total_swift_amount_sent:
            original: "18242013.1"
            us_dollar: "18242013.1"
            euro: "16583648.27"
          total_swift_amount_received:
            original: "35019228.82"
            us_dollar: "35019228.82"
            euro: "31835662.56"
        - market: TRFN_trade_finance
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "700"
          my_institution:
            id:
              any_bic: DEMOZA02
            country:
              code: ZA
            region:
              code: AFRC_africa
          counterparty:
            id:
              any_bic: DEMOJP01
            country:
              code: JP
            region:
              code: APAC_asia_pacific
          geo_route:
            code: INTL_international
          customer_route:
            code: ITER_inter_customer_group
          transactions_sent: "5920"
          transactions_received: "9203"
          total_swift_transactions_sent: "32039"
          total_swift_transactions_received: "44991"
          currency:
            code: YEN
          amount_sent:
            original: "899068341"
            us_dollar: "8541149.24"
            euro: "7642080.899"
          amount_received:
            original: "727779432"
            us_dollar: "6913904.604"
            euro: "6186125.172"
          total_swift_amount_sent:
            original: "15923294021"
            us_dollar: "151271293.2"
            euro: "135347999.2"
          total_swift_amount_received:
            original: "29438412923"
            us_dollar: "279664922.8"
            euro: "250226509.8"
        - market: TRFN_trade_finance
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "936"
          my_institution:
            id:
              any_bic: DEMOUS01
            country:
              code: US
            region:
              code: NOAM_north_america
          counterparty:
            id:
              any_bic: DEMOGB01
            country:
              code: FR
            region:
              code: EURO_euro_zone
          geo_route:
            code: INTL_international
          customer_route:
            code: ITRA_intra_customer_group
          transactions_sent: "9023"
          transactions_received: "8310"
          total_swift_transactions_sent: "92038"
          total_swift_transactions_received: "90022"
          currency:
            code: USD
          amount_sent:
            original: "21293841.12"
            us_dollar: "21293841.12"
            euro: "19358037.38"
          amount_received:
            original: "1923842.44"
            us_dollar: "1923842.44"
            euro: "1748947.673"
          total_swift_amount_sent:
            original: "92402193.11"
            us_dollar: "92402193.11"
            euro: "84001993.74"
          total_swift_amount_received:
            original: "77329299.01"
            us_dollar: "77329299.01"
            euro: "70299362.74"
        - market: TRFN_trade_finance
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "700"
          my_institution:
            id:
              any_bic: DEMOUS01
            country:
              code: US
            region:
              code: NOAM_north_america
          counterparty:
            id:
              any_bic: DEMOUS31
            country:
              code: US
            region:
              code: NOAM_north_america
          geo_route:
            code: DMST_domestic
          customer_route:
            code: ITRA_intra_customer_group
          transactions_sent: "1029"
          transactions_received: "2038"
          total_swift_transactions_sent: "8203"
          total_swift_transactions_received: "13009"
          currency:
            code: USD
          amount_sent:
            original: "929384.11"
            us_dollar: "929384.11"
            euro: "844894.6455"
          amount_received:
            original: "1412039"
            us_dollar: "1412039"
            euro: "1283671.818"
          total_swift_amount_sent:
            original: "18242013.1"
            us_dollar: "18242013.1"
            euro: "16583648.27"
          total_swift_amount_received:
            original: "35019228.82"
            us_dollar: "35019228.82"
            euro: "31835662.56"
        - market: TRFN_trade_finance
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "700"
          my_institution:
            id:
              any_bic: DEMOZA02
            country:
              code: ZA
            region:
              code: AFRC_africa
          counterparty:
            id:
              any_bic: DEMOJP01
            country:
              code: JP
            region:
              code: APAC_asia_pacific
          geo_route:
            code: INTL_international
          customer_route:
            code: ITER_inter_customer_group
          transactions_sent: "5920"
          transactions_received: "9203"
          total_swift_transactions_sent: "32039"
          total_swift_transactions_received: "44991"
          currency:
            code: YEN
          amount_sent:
            original: "899068341"
            us_dollar: "8541149.24"
            euro: "7642080.899"
          amount_received:
            original: "727779432"
            us_dollar: "6913904.604"
            euro: "6186125.172"
          total_swift_amount_sent:
            original: "15923294021"
            us_dollar: "151271293.2"
            euro: "135347999.2"
          total_swift_amount_received:
            original: "29438412923"
            us_dollar: "279664922.8"
            euro: "250226509.8"
        - market: TRFN_trade_finance
          reporting_period: 2019-07
          delivery_status:
            code: DLVR_delivered
          message_definition_identifier:
            code: "799"
          my_institution:
            id:
              any_bic: DEMOUS01
            country:
              code: US
            region:
              code: NOAM_north_america
          counterparty:
            id:
              any_bic: DEMOGB01
            country:
              code: GB
            region:
              code: EURO_euro_zone
          geo_route:
            code: INTL_international
          customer_route:
            code: ITRA_intra_customer_group
          transactions_sent: "9023"
          transactions_received: "8310"
          total_swift_transactions_sent: "92038"
          total_swift_transactions_received: "90022"
          currency:
            code: USD
          amount_sent:
            original: "21293841.12"
            us_dollar: "21293841.12"
            euro: "19358037.38"
          amount_received:
            original: "1923842.44"
            us_dollar: "1923842.44"
            euro: "1748947.673"
[...]
